.cls-1{fill:#000;}
.cls-2{fill:#efefed;}
.cls-11{fill:#f2a755;stroke:#513217;stroke-width:.5px;}
.cls-11,.cls-12{stroke-miterlimit:10;}
.cls-3{fill:#ddc69b;}
.contour{fill:none;}
.cls-12{fill:#411212;stroke:#4e0e18;}
.cls-5{fill:#edebe8;}
.cls-6{fill:#f8f7f7;}
.cls-7{fill:#e3d3d3;}
.cls-8{fill:#9e8e8e;}
.cls-9{fill:#c15a36;}
.cls-10{fill:#bc9999;}

.no-visible{
    visibility: hidden;
}

#assiette-container{
    width: 80%;
}