.cls-1,.cls-2,.cls-3,.cls-4,.cls-5,.cls-6,.cls-7,.cls-8,.cls-9,.cls-10,.cls-11,.cls-12,.cls-13,.cls-14,.cls-15,.cls-16,.cls-17{stroke-width:0px;}.cls-2{fill:#722a11;}.cls-3{fill:#a86734;}.cls-18{fill:#5d2911;stroke:#251e12;}.cls-18,.cls-19,.cls-20{stroke-miterlimit:10;}.cls-19{stroke:#724231;}.cls-19,.cls-15{fill:#b15a26;}.cls-4{fill:#f6dc6d;}.cls-5{fill:#b46516;}.cls-6{fill:#c56e28;}.contour{fill:none;}.cls-20{fill:#f2ac2e;stroke:#b15a26;}.cls-8{fill:#ee9d27;}.cls-9{fill:#995929;}.cls-10{fill:#fac08a;}.cls-11{fill:#924620;}.cls-12{fill:#532014;}.cls-13{fill:#37140e;}.cls-14{fill:#d38a4c;}.cls-16{fill:#c8771c;}.cls-17{fill:#f4c549;}
#cookie, svg{
    width: 150px;
    height: 150px;
}

svg{
    margin-top: 2em;
}

#cookie:hover{
    .contour{
        stroke: lightgreen !important;
        stroke-width: 10px;
    }
}