.cls-1{fill:#ab791d;}.cls-1,.cls-2,.cls-3,.cls-4,.cls-5,.cls-6,.cls-7,.cls-8,.cls-9,.cls-10,.cls-11,.cls-12,.cls-13,.cls-14,.cls-15,.cls-16{stroke-width:0px;}.cls-2{fill:#722a11;}.cls-3{fill:#a86734;}.cls-17{fill:#5d2911;stroke:#251e12;}.cls-17,.cls-18{stroke-miterlimit:10;}.cls-4{fill:#f6dc6d;}.cls-5{fill:#b46516;}.cls-6{fill:#c56e28;}.cls-18{fill:#f2ac2e;stroke:#b15a26;}.cls-7{fill:#ee9d27;}.cls-8{fill:#995929;}.cls-9{fill:#fac08a;}.cls-10{fill:#924620;}.cls-11{fill:#532014;}.cls-12{fill:#37140e;}.cls-13{fill:#d38a4c;}.cls-14{fill:#b15a26;}.cls-15{fill:#c8771c;}.cls-16{fill:#f4c549;}

#cookie, svg{
    width: 150px;
    height: 150px;
}

svg{
    margin-top: 2em;
}

#cookie:hover{
    .contour{
        stroke: lightgreen !important;
        stroke-width: 10px;
    }
}