.cls-1{fill:#2b2525;}
.cls-2{fill:#7e7f80;}
.cls-3{fill:#272324;}
.cls-6{fill:#701321;stroke:#060707;}
.cls-7{fill:#060707;}
.cls-7,.cls-9{stroke:#090a0a;}
.cls-4{fill:#0b0c0c;}
.cls-8{fill:#411212;stroke:#4e0e18;}
.cls-9{fill:#515151;}
.cls-5{fill:#c15a36;}

#poele-container{
    width: 40%;
}