.cls-1{fill:#0b0c0c;}.cls-1,.cls-2,.cls-3,.cls-4,.cls-5{stroke-width:0px;}.cls-6{fill:#060707;}.cls-6,.cls-7{stroke:#090a0a;}.cls-6,.cls-7,.cls-8,.cls-9{stroke-miterlimit:10;}.cls-7{fill:#515151;}.cls-2{fill:#272324;}.cls-3{fill:#c15a36;}.cls-8{fill:#701321;stroke:#060707;}.cls-4{fill:#7e7f80;}.cls-5{fill:#2b2525;}.cls-9{fill:#411212;stroke:#4e0e18;}

#poele-container{
    width: 45%;
}

.no-visible{
    visibility: hidden;
}