.cls-1{fill:#472b2b;}.cls-1,.cls-2,.cls-3,.cls-4,.cls-5{stroke-miterlimit:10;}.cls-1,.cls-2,.cls-4,.cls-5{stroke:#000;}.cls-2{fill:none;}.cls-6{fill:#d48328;stroke-width:0px;}.cls-3{fill:#d89330;stroke:#944c32;}.cls-4{fill:#d38a58;}.cls-5{fill:#e2a569;}

#pain{
    width: 180px;
    margin-left: 20px;
}